<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            background-color: rgb(206, 206, 206);
        }

        main {
            align-items: center;
            justify-content: center;
        }
    </style>
    <script>
        (async function () {
            const scopesResponse = await fetch('<%- authServerEndpoint %>/scopes')
            const scopes = await scopesResponse.json()

            window.addEventListener('load', (evt) => {
                for (const scope in scopes) {
                    const newItemHtml = `
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        ${scope}
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cb-${scope}">
                            <input type="checkbox" id="cb-${scope}" class="mdl-checkbox__input" checked />
                        </label>
                    </span>
                </li>`.trim()
                    let template = document.createElement('template');
                    template.innerHTML = newItemHtml;

                    document.getElementById('ul-scopes').appendChild(template.content.firstChild)
                }


            })
        })()
        function startAuthFlow() {
            window.location.href = '<%=authServerEndpoint %>'
        }
    </script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout">
        <main class="mdl-layout__content">
            <p>Choose the scopes: </p>
            <ul id="ul-scopes" class="demo-list-control mdl-list">
            </ul>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Start OAuth Flow
            </button>
        </main>
    </div>
</body>

</html>